/* src/components/Certifications/styles.module.css */

.section {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #003366;
  }
  
  .subtitle {
    font-size: 1.8em;
    margin: 30px 0 20px;
    color: #003366;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cardTitle {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #003366;
  }
  
  .cardText {
    margin: 5px 0;
    color: #555;
  }
  
  .input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    border-color: #ffcc00;
    outline: none;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .success {
    color: green;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }